<div class="demo">

  <h1 id="panels" class="page-header">Nuxeo client and ui demo</h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="panel-title">User login</span>
    </div>

    <div class="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <label for="user">User name:</label>
          <input id="user" type="text" class="form-control" placeholder="User name" ng-model="user.userName">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input id="password" type="password" class="form-control" placeholder="Password" ng-model="user.password">
        </div>
        <button type="submit" class="btn btn-default" ng-click="user.login()">Sign in</button>
      </form>
    </div>
  </div>

  <div class="panel panel-default" ng-controller="ApiDemoController">
    <div class="panel-heading">
      <span class="panel-title">API testing</span>
    </div>

    <div class="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <label>
            Select type of document:
            <select ng-options="type.name for type in model.types" ng-model="model.selectedType">
              <!-- items -->
            </select>
          </label>
        </div>
        <div class="form-group">
          <label for="path">Document Path: {{model.selectedType.prototype.defaultPath}}/</label>
          <input id="path" type="text" class="form-control" ng-model="model.path">
        </div>
        <button type="submit" class="btn btn-default" ng-click="operations.create()">Create</button>
      </form>
    </div>
  </div>

  <div class="panel panel-default" ng-controller="GalleryDemoController">
    <div class="panel-heading">
      <span class="panel-title">Search api demo</span>
    </div>

    <div class="panel-body">

      <!-- ########################################################################## SEARCH FORM -->
      <form class="form-inline col-xs-12 well text-center" novalidate>
        <div class="basic-search row">
          <!-- ########################################################################## MEDIA TYPE CHOOSE -->
          <div class="form-group">
            <div class="btn-group">
              <label class="btn btn-default" ng-class="{'btn-primary active': fn.isActive('Picture')}" ng-click="fn.toggle('Picture')">Picture</label>
              <label class="btn btn-default" ng-class="{'btn-primary active': fn.isActive('Audio')}" ng-click="fn.toggle('Audio')">Audio</label>
              <label class="btn btn-default" ng-class="{'btn-primary active': fn.isActive('Video')}" ng-click="fn.toggle('Video')">Video</label>
              <label class="btn btn-default" ng-class="{'btn-primary active': fn.isActive('Note')}" ng-click="fn.toggle('Note')">Text</label>
              <label class="btn btn-default" ng-class="{'btn-primary active': fn.isActive('File')}" ng-click="fn.toggle('File')">File</label>
            </div>
          </div>

          <!-- ########################################################################## MEDIA TERM SEARCH -->
          <div class="form-group">
            <label class="sr-only" for="search">Search</label>

            <div class="input-group">
              <input id="search" type="text" class="form-control" placeholder="Search for..." ng-model="search.terms">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </span>
            </div>
          </div>

          <!-- ########################################################################## TOGGLE ADVANCED SEARCH -->
          <div class="form-group pull-right">
            <button class="btn btn-default" type="button" ng-click="search.advanced.show = !search.advanced.show"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>
            <button class="btn btn-default" type="button" ng-click="search.upload.show = !search.upload.show">upload new media</button>
          </div>
        </div>

        <!-- ########################################################################## ADVANCED SEARCH -->
        <div class="advanced-search row" ng-show="search.advanced.show">

          <div class="form-group col-xs-12">
            <div class="checkbox">
              <label for="mymedia">
                <input id="mymedia" type="checkbox" ng-model="search.advanced.myMediaOnly"> My media only
              </label>
            </div>
          </div>

          <div class="form-group col-xs-12">
            <label for="continent" class="col-xs-4 text-right">Continent</label>
            <nuxeo-select id="continent" class="col-xs-4 text-left" directory="continents" model="search.advanced.selectedContinent" ng-change="fn.reduceCountry()"></nuxeo-select>
          </div>
          <div class="form-group col-xs-12">
            <label for="country" class="col-xs-4 text-right">Country</label>
            <nuxeo-select id="country" class="col-xs-4 text-left" directory="countries" model="search.advanced.selectedCountry" ng-change="fn.reduceContinent()"></nuxeo-select>
          </div>
          <div class="form-group col-xs-12">
            <label for="nature" class="col-xs-4 text-right">Natures</label>
            <nuxeo-select id="nature" class="col-xs-4 text-left" directory="natures" model="search.advanced.selectedNature"></nuxeo-select>
          </div>
          <div class="form-group col-xs-12">
            <label for="subject" class="col-xs-4 text-right">Subjects</label>
            <nuxeo-select id="subject" class="col-xs-4 text-left" directory="subjects" property="id" model="search.advanced.selectedSubject"></nuxeo-select>
          </div>
        </div>
      </form>

      <form class="form-horizontal col-xs-12 text-center" novalidate>
        <!-- ########################################################################## UPLOAD -->
        <div class="advanced-search row" ng-show="search.upload.show">
          <div class="form-group">
            <label for="file" class="control-label col-xs-2 text-right">File</label>

            <div class="col-xs-8">
              <input id="file" type="file" class="form-control" accept="image/*" ng-model="search.upload.file">
            </div>
            <div class="col-xs-2">
              <button class="btn btn-default pull-right" type="button" ng-click="fn.upload()">upload</button>
            </div>
          </div>
        </div>
      </form>

      <!-- ########################################################################## RESULTS -->
      <nuxeo-documents publish-to="'/default-domain/sections/test'" on-success="uiChange" on-error="logError"><!-- Search results --></nuxeo-documents>

      <div class="clearfix"></div>

      <!-- ########################################################################## PAGINATION -->
      <nav>
        <ul class="pagination">
          <li ng-class="{active: documents.pageIndex === page}" ng-repeat="page in documents.pages">
            <a href="javascript:void(0)" ng-click="documents.pageIndex = page">{{page + 1}}</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</div>