<div class="thumbnail">
  <a href="javascript:void(0)">
    <div class="media" ng-class="entry.type | lowercase">
      <nuxeo-picture ng-if="entry.type === 'Picture'"></nuxeo-picture>
      <nuxeo-audio ng-if="entry.type === 'Audio'"></nuxeo-audio>
      <nuxeo-video ng-if="entry.type === 'Video'"></nuxeo-video>
      <nuxeo-note ng-if="entry.type === 'Note'"></nuxeo-note>
      <nuxeo-file ng-if="entry.type === 'File'"></nuxeo-file>
    </div>
    <div class="caption">
      <span>{{entry.title | limitTo:25}}</span>
    </div>
  </a>

  <div class="action">
    <a class="download" title="Download" href="{{entry.srcURL || 'javascript:void(0)'}}">
      <span class="glyphicon glyphicon-download-alt"></span>
    </a>
    <a class="publish" title="Publish" href="javascript:void(0)" ng-if="entry.isPublishable" ng-click="entry.publish({target: publishPath}, onSuccess, onError)">
      <span class="glyphicon glyphicon-cloud-upload"></span>
    </a>
    <a class="delete" title="Delete" href="javascript:void(0)" ng-if="entry.isDeletable" ng-click="entry.delete(onSuccess, onError)">
      <span class="glyphicon glyphicon-trash"></span>
    </a>
  </div>
</div>